<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <button id="toggleButton" class="toggle-btn">Toggle Night/Light Mode</button>
    <div class="login-container">
        <form action="/auth" method="post" class="login-form">
            <h1>Who are you?</h1>
            <input type="password" id="password" name="password" required placeholder="Do you remember?">
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="/script.js"></script>
</body>
</html>
