<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login Page</title>
</head>
<body>
    <button id="toggleButton" class="toggle-btn">Theme Change</button>
    <div class="login-container">
        <h1>Who are you?</h1>
        <form class="login-form" action="/auth" method="post">
            <input type="password" name="password" placeholder="Do you remember?" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>
