body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
}

.container {
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container h1 {
    font-size: 2.5em;
    color: #ff6600;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
}

.container h1::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: #ff6600;
    display: block;
    margin: 0.5em auto 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.card-link {
    text-decoration: none;
}

.card {
    background: linear-gradient(135deg, #ffcc66, #ff9900);
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    color: #ffffff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #ffb347, #ff8c00);
}

.card img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    flex-grow: 1;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.card:hover img {
    transform: scale(1.1);
    max-height: calc(100% - 120px);
}

.card h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.card p {
    font-size: 1.2em;
    margin: 0;
    padding: 0.5em;
    color: #ffffff;
}
